  <mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>Menu</span>
    <span class="example-spacer"></span>
</mat-toolbar-row>
<mat-toolbar-row>
<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/wyszukiwarka">
      <mat-icon>ac_unit</mat-icon>
      <span>Wyszukiwanie</span>
    </button>
    <button mat-menu-item routerLink="/ulubione">
      <mat-icon>beach_access</mat-icon>
      <span>Ulubione</span>
    </button>
    <button mat-menu-item routerLink="/info">
      <mat-icon>fingerprint</mat-icon>
      <span>O aplikacji</span>
    </button>
  </mat-menu>
  <mat-icon *ngIf="liczbaulubionych===0" clas="example-icon">favorite_border</mat-icon>
  <div *ngIf="liczbaulubionych > 0">
    <mat-icon class="example-icon">favorite</mat-icon>
    {{liczbaulubionych}}
  </div>
</mat-toolbar-row>
</mat-toolbar>
